
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans&display=swap');


body, h1, h2, h3, p, ul, li, nav, header, main, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header, nav, main, footer {
    padding: 20px;
    text-align: center;
}


header {
    background-color: #005a87;
    color: #fff;
}

header h1 {
    font-size: 2em;
}


nav ul {
    list-style-type: none;
    background-color: #023e58;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}


main {
    background: white;
    padding: 20px;
    margin-top: 20px;
}

h2, h3 {
    color: #005a87;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: #e2e2e2;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
}


footer {
    background-color: #023e58;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
